[package]
name = "ia-get"
description = "File downloader for archive.org"
authors = ["Martin Wimpress <code@wimpress.io>"]
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3"
indicatif = "0.17"
md5 = "0.7"
regex = "1.10"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
tokio = { version = "1", features = ["full"] }
serde = { version = "1.0", features = ["derive"] }
serde-xml-rs = "0.6.0"
url = "2.5"
clap = "3.2"

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true
