<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameaday.ia_get_mobile">
    
    <!-- Internet permission for downloading files -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Storage permissions for saving files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Network state permission for connection monitoring -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Wake lock for background downloads -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Android 10+ scoped storage support -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        android:minSdkVersion="30" />

    <application
        android:label="IA Get Mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/LaunchTheme"
        android:requestLegacyExternalStorage="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- App launch intent -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Handle Internet Archive URLs -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                      android:host="archive.org" />
            </intent-filter>
        </activity>
        
        <!-- File provider for sharing downloaded files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
        <!-- Service for background downloads -->
        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
            
        <!-- App metadata for store listing -->
        <meta-data
            android:name="com.gameaday.ia_get_mobile.APP_VERSION"
            android:value="1.0.0" />
            
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- Queries for Intent resolution (Android 11+) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>